$roxo: #8844EE;
$size: 1.5em;
$background: #f7f9f9;
$white: white;
$blue: #548cff;

body{
    background-color: $blue;
}

.particlesContainer{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.particle{
    display: inline-flex;
    position: absolute;
    height: 5rem;
    width: 5rem;
    left: 0;
    right: 0;
    top: 100%;   
    margin: auto;
    box-shadow: 0px 2px 10px black;
    border: 2px solid;
    background-image: url("../img/emojin.jpg");
    background-size: 16.4rem;
    background-repeat: no-repeat;
    border-radius: 500px;
    background-color: $white;
}

.particle.like{
    background-position: -1px 4px;
}

.particle.love{
    background-position: -90px 4px;
}

.particle.happy{
    background-position: -178.6px 4px;
}

.particle.angry{
    background-position: -179px -89px;
}

.particle.sad{
    background-position: -90px -89px;
}

.particle.wow {
    background-position: -2px -89px;
}